[submodule "Carthage/Checkouts/Chameleon"]
	path = iOS/Carthage/Checkouts/Chameleon
	url = https://github.com/ViccAlexander/Chameleon.git
[submodule "Carthage/Checkouts/Chameleon-Swift3.0.2"]
	path = iOS/Carthage/Checkouts/Chameleon-Swift3.0.2
	url = https://github.com/LachlanGrant/Chameleon-Swift3.0.2.git
[submodule "Carthage/Checkouts/MKUIKit"]
	path = iOS/Carthage/Checkouts/MKUIKit
	url = https://github.com/LachlanGrant/MKUIKit.git
[submodule "Carthage/Checkouts/RESTKit"]
	path = iOS/Carthage/Checkouts/RESTKit
	url = https://github.com/LachlanGrant/RESTKit.git
[submodule "Carthage/Checkouts/MKUtilityKit"]
	path = iOS/Carthage/Checkouts/MKUtilityKit
	url = https://github.com/LachlanGrant/MKUtilityKit.git
[submodule "Carthage/Checkouts/MKKit"]
	path = iOS/Carthage/Checkouts/MKKit
	url = https://github.com/LachlanGrant/MKKit.git
