[submodule "Carthage/Checkouts/Chameleon-Swift4"]
	path = Carthage/Checkouts/Chameleon-Swift4
	url = https://github.com/LachlanGrant/Chameleon-Swift4.git
[submodule "Carthage/Checkouts/MKKit"]
	path = Carthage/Checkouts/MKKit
	url = https://github.com/LachlanGrant/MKKit.git
[submodule "Carthage/Checkouts/MKUIKit"]
	path = Carthage/Checkouts/MKUIKit
	url = https://github.com/LachlanGrant/MKUIKit.git
[submodule "Carthage/Checkouts/RESTKit"]
	path = Carthage/Checkouts/RESTKit
	url = https://github.com/LachlanGrant/RESTKit.git
[submodule "Carthage/Checkouts/MKUtilityKit"]
	path = Carthage/Checkouts/MKUtilityKit
	url = https://github.com/LachlanGrant/MKUtilityKit.git
